@import url('https://fonts.googleapis.com/css?family=Josefin%20Slab:700|Playwrite%20DE%20Grund:400');

/* FONTS */
body {
  font-family: 'Playwrite DE Grund';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Slab';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

@media only screen and (max-width:900px){
    h1 {font-size: 3.210rem;}
    h2 {font-size: 3rem;}
    h3 {font-size: 2.1rem;}
}

/* LAYOUT */
body {
    display: grid;
    grid-template: 
    "menu"
    "header"
    "description"
    "posts"
    "footer";

    justify-items: center;
}

@media only screen and (max-width:900px){
    body {
    grid-template-areas: 
    "header"
    "menu"
    "description"
    "posts"
    "footer";
    }
}

nav {
    grid-area: menu;
}

header {
    grid-area: header;
}

#posts{
    grid-area: posts;
}

#description{
    grid-area: description;
}

footer {
    grid-area: footer;
}

/* SPACING */
body{
    margin: 0;
    padding: 1em 2em 0;
    min-height: 100vh;
    box-sizing: border-box;
}

/* DESCRIPTION */
p {
    max-width: 60ch;
}

#description{
    text-align: justify;
    text-align-last: left;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer hr{
    width: 100%;
}

footer ul{
    list-style: none;
    display: flex;
    padding: 0 1em;
}

footer ul li:not(:last-child)::after{
    content: '•';
    margin: 0 1em;
}

@media only screen and (max-width:500px){
    footer ul{
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }
    footer ul li:not(:last-child)::after{
        content: '';
    }
}

/* POSTS */
#posts ul{
    list-style: none;
    padding: 0;
}

#posts h3{
    margin: 0.5em 0;
}

#posts li{
   margin: 1em 0; 
}

.post-details{
    display: flex;
    justify-content: space-between;
}

/* NAVBAR */
nav a{
    text-decoration: none;
}

nav a:not(:last-child)::after{
    content: '•';
    margin: 0 1em;
}