body{
    background-color: #eddfb9;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.parallax {
  /* The image used */
  background-image: url("banner.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#banner-content{
    color:#f0e8d3;
    text-align: center;
    margin-top:10em;
}

#header-line1{
    font-size:3em;
    text-shadow: 1px 1px 1px #eddfb9;
}
#header-line2{
    font-size:2em;
}

.copy{
    color:#f0e8d3;
    background-color: transparent;
    border-color: transparent;
    cursor:pointer;
}
.copy:hover{
    color: #eddcad;
}
.copy:active{
    color: #eddfb9;
}