@import url('https://fonts.googleapis.com/css?family=Josefin%20Slab:700|Playwrite%20DE%20Grund:400');

/* FONTS */
body {
  font-family: 'Playwrite DE Grund';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Slab';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* LAYOUT */
body {
    display: grid;
    grid-template: 
    "menu"
    "header"
    "description"
    "posts"
    "footer";

    justify-items: center;
}

@media only screen and (max-width:900px){
    body {
    grid-template-areas: 
    "header"
    "menu"
    "description"
    "posts"
    "footer";
    }
}

menu {
    grid-area: menu;
}

header {
    grid-area: header;
}

#posts{
    grid-area: posts;
}

#description{
    grid-area: description;
}

footer {
    grid-area: footer;
}

/* SPACING */
p {
    max-width: 60ch;
}

#description{
    text-align: justify;
    text-align-last: left;
}

/* FOOTER */
footer ul{
    list-style: none;
    display: flex;
}

footer ul li:not(:last-child)::after{
    content: '•';
    margin-right: 10px;
    margin-left: 10px;
}